body {
  background-color: black;
}

nav {
  background-color: yellow;
}

nav a {
  color: black;
  text-decoration: none;
}

button {
  background: blue;
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 18px;
}

ul {
  background-color: blueviolet;
  color: blanchedalmond;
}
